<!-- 
FOOTER
=============================================== -->
<footer>            
    
    <div class="container-fluid bg-blue footer text-white">
        <div class="row">
            <div class="container">
                <div class="row">
                    
                    <div class="col-sm-6 col-md-3">
                        
                        <h3 class="header text-uppercase">
                            Guia do comprador
                        </h3>
                        
                        <ul class="nav-vrt white opc none-padding">
                            <li>
                                <a href="#" class="btn-material">Suporte ao cliente</a>
                            </li>

                            <li>
                                <a href="#" class="btn-material">Garantia técnica</a>
                            </li>

                            <li>
                                <a href="#" class="btn-material">Programa de benefícios</a>
                            </li>

                            <li>
                                <a href="#" class="btn-material">Sugestões</a>
                            </li>

                            <li>
                                <a href="#" class="btn-material">Críticas</a>
                            </li>

                            <li>
                                <a href="#" class="btn-material">Manual do comprador Infosej</a>
                            </li>

                            <li>
                                <a href="#" class="btn-material">Como pagar na Infosej</a>
                            </li>
                        </ul>
                        
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                        
                        <h3 class="header text-uppercase">
                            Prestação de serviços
                        </h3>
                        
                        <ul class="nav-vrt white opc none-padding">
                            <li>
                                <a href="#" class="btn-material">Sobre nós</a>
                            </li>
                            
                            <li>
                                <a href="#" class="btn-material">Entrar em contato</a>
                            </li>
                            
                            <li>
                                <a href="#" class="btn-material">Detalhes da sua conta</a>
                            </li>
                            
                            <li>
                                <a href="#" class="btn-material">Histórico de pedidos</a>
                            </li>
                            
                            <li>
                                <a href="#" class="btn-material">Busca avançada</a>
                            </li>
                        </ul>
                        
                    </div>
                    
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                        
                                <h3 class="header text-uppercase">
                                    Nossos contatos
                                </h3>
                                
                                <ul class="list-icon white ">
                                    <li>
                                        <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                                        12A Questen, Mt Vernon, NY 10550, US
                                    </li>
                                    <li>
                                        <a href="mailto:info@example.com">
                                            <fa-icon [icon]="faEnvelope"></fa-icon>
                                            contato@infosej.com
                                        </a>
                                    </li>
                                    <li>
                                        <fa-icon [icon]="faPhoneAlt"></fa-icon>
                                        +1 (234) 567-89-10
                                    </li>
                                    <li>
                                        <fa-icon [icon]="faClock"></fa-icon>
                                        Horários/Dias de trabalho:
                                        Segunda - Sexta / 9:00AM - 5:00PM
                                    </li>
                                </ul>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <div class="footer-brand">
                                    <img src="../../assets/images/logo-lg.png" alt="">
                                </div>
                                
                                <span class="comp-header st-12 text-uppercase">
                                    Infosej
                                    <span>
                                        Serviços técnicos
                                    </span>
                                </span>
                                
                                <p>
                                    A melhor escolha na hora de formatar seu computador ou atualizar o sistema operacional está na Infosej, a maior empresa especializada em manutenção técnica da região!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                
                                <ul class="social ">
                                    <li>
                                        <a href="#">
                                            <fa-icon [icon]="faFacebook"></fa-icon>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <fa-icon [icon]="faGoogle"></fa-icon>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <fa-icon [icon]="faTwitter"></fa-icon>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <fa-icon [icon]="faVk"></fa-icon>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <fa-icon [icon]="faInstagram"></fa-icon>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <fa-icon [icon]="faYouTube"></fa-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid copiright">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span class="copy">
                            © 2021 Infosej, Inc. Todos os direitos reservados.
                        </span>
                    </div>
                    
                    <div class="col-md-6 ">
                        
                        <ul class="vrt-icons text-yellow pull-right">
                            <li>
                                <img src="../../assets/images/footer/paypal.png" alt="" class="brand w-50 h-50">
                            </li>
                            <li>
                                <img src="../../assets/images/footer/visa.png" alt="" class="brand w-50 h-50">
                            </li>
                            <li>
                                <img src="../../assets/images/footer/mastercard.png" alt="" class="brand w-50 h-50">
                            </li>
                            <li>
                                <img src="../../assets/images/footer/americanexpress.png" alt="" class="brand w-50 h-50">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    .
</footer>
<!-- END: FOOTER -->