<!-- 
SLIDESHOW
=============================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="clearfix">
            <owl-carousel-o [options]="customOptions" class="slideshow">
                <!-- Item -->
                <ng-template carouselSlide>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-5 hidden-xs hidden-sm">
                                <!-- Header -->
                                <h2 class="header text-uppercase text-blue">Web design</h2>

                                <!-- Text -->
                                <p>
                                    Contrate nossos serviços e obtenha um pacote digital para sua empresa agora mesmo, disponível em todos os dispositivos
                                </p>

                                <!-- Buttons -->
                                <span class="btn-panel">
                                        <span class="sdw-wrap">
                                            <a href="shop-item.html" class="sdw-hover btn btn-lg btn-material btn-default"><span class="body">SAIBA MAIS</span></a>
                                            <span class="sdw"></span>
                                        </span>
                                        
                                        <span class="hor-divider"></span>
                                        
                                        <span class="sdw-wrap">
                                            <a href="shop-item.html" class="sdw-hover btn btn-lg btn-material btn-primary"><fa-icon [icon]="faShoppingBasket" class="text-white"></fa-icon>&nbsp;&nbsp;<span class="body">COMPRAR</span></a>
                                            <span class="sdw"></span>
                                        </span> 
                                </span>
                            </div>
                            
                            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
                                <!-- Image -->
                                <div class="img">
                                    <img src="../../assets/images/slideshow/img-01.png" alt="">
                                </div>
                                
                                <!-- Badge -->
                                <span class="sale-badge bg-green text-uppercase">
                                    novo
                                </span>
                                
                                <!-- Price -->
                                <span class="price hidden-xs">
                                    <span class="wrap text-red">
                                        R$ 249<small>.90</small>
                                    </span>
                                </span>
                                
                                <!-- Mobile button -->
                                <span class="text-center visible-xs">
                                    <span class="sdw-wrap">
                                        <a href="#" class="sdw-hover btn btn-lg btn-material btn-primary"><fa-icon [icon]="faShoppingBasket" class="text-white"></fa-icon>&nbsp;&nbsp;<span class="body">R$ 249<small>.90</small></span></a>
                                        <span class="sdw"></span>
                                    </span> 
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <!-- Item -->
                <ng-template carouselSlide>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-5 hidden-xs hidden-sm">
                                <!-- Header -->
                                <h2 class="header text-uppercase text-blue">Windows 10</h2>

                                <!-- Text -->
                                <p>
                                    Formate seu computador conosco e receba-o de volta novinho em folha, com a versão mais recente do sistema da Microsoft instalada
                                </p>

                                <!-- Buttons -->
                                <span class="btn-panel">
                                        <span class="sdw-wrap">
                                            <a href="shop-item.html" class="sdw-hover btn btn-lg btn-material btn-default"><span class="body">SAIBA MAIS</span></a>
                                            <span class="sdw"></span>
                                        </span>
                                        
                                        <span class="hor-divider"></span>
                                        
                                        <span class="sdw-wrap">
                                            <a href="shop-item.html" class="sdw-hover btn btn-lg btn-material btn-primary"><fa-icon [icon]="faShoppingBasket" class="text-white"></fa-icon>&nbsp;&nbsp;<span class="body">COMPRAR</span></a>
                                            <span class="sdw"></span>
                                        </span> 
                                </span>
                            </div>
                            
                            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
                                <!-- Image -->
                                <div class="img">
                                    <img src="../../assets/images/slideshow/img-02.png" alt="">
                                </div>
                                
                                <!-- Badge -->
                                <span class="sale-badge bg-green text-uppercase">
                                    novo
                                </span>
                                
                                <!-- Price -->
                                <span class="price hidden-xs">
                                    <span class="wrap text-red">
                                        R$ 40<small>.99</small>
                                    </span>
                                </span>
                                
                                <!-- Mobile button -->
                                <span class="text-center visible-xs">
                                    <span class="sdw-wrap">
                                        <a href="#" class="sdw-hover btn btn-lg btn-material btn-primary"><fa-icon [icon]="faShoppingBasket" class="text-white"></fa-icon>&nbsp;&nbsp;<span class="body">R$ 40<small>.99</small></span></a>
                                        <span class="sdw"></span>
                                    </span> 
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <!-- Item -->
                <ng-template carouselSlide>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-5 hidden-xs hidden-sm">
                                <!-- Header -->
                                <h2 class="header text-uppercase text-blue">Pacote Office</h2>

                                <!-- Text -->
                                <p>
                                    Precisando de ferramentas profissionais para escritório? Compre agora mesmo o pacote Office da Microsoft e tenha-o instalado em segundos no seu PC!
                                </p>

                                <!-- Buttons -->
                                <span class="btn-panel">
                                        <span class="sdw-wrap">
                                            <a href="shop-item.html" class="sdw-hover btn btn-lg btn-material btn-default"><span class="body">SAIBA MAIS</span></a>
                                            <span class="sdw"></span>
                                        </span>
                                        
                                        <span class="hor-divider"></span>
                                        
                                        <span class="sdw-wrap">
                                            <a href="shop-item.html" class="sdw-hover btn btn-lg btn-material btn-primary"><fa-icon [icon]="faShoppingBasket" class="text-white"></fa-icon>&nbsp;&nbsp;<span class="body">COMPRAR</span></a>
                                            <span class="sdw"></span>
                                        </span> 
                                </span>
                            </div>
                            
                            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
                                <!-- Image -->
                                <div class="img">
                                    <img src="../../assets/images/slideshow/img-03.png" alt="">
                                </div>
                                
                                <!-- Badge -->
                                <span class="sale-badge bg-green text-uppercase">
                                    novo
                                </span>
                                
                                <!-- Price -->
                                <span class="price hidden-xs">
                                    <span class="wrap text-red">
                                        R$ 60<small>.99</small>
                                    </span>
                                </span>
                                
                                <!-- Mobile button -->
                                <span class="text-center visible-xs">
                                    <span class="sdw-wrap">
                                        <a href="#" class="sdw-hover btn btn-lg btn-material btn-primary"><fa-icon [icon]="faShoppingBasket" class="text-white"></fa-icon>&nbsp;&nbsp;<span class="body">R$ 60<small>.99</small></span></a>
                                        <span class="sdw"></span>
                                    </span> 
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- END: SLIDESHOW -->