<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Criar um produto</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Produtos</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/produtos/create">
                    <label>Nome do Produto</label>
                    <input type="text" class="form-control" name="nomeProduto">
                    <br>
                    <label>Descrição</label>
                    <textarea maxlength="255" type="text" class="form-control" name="descricao"> </textarea>
                    <label>Preço do Produto</label>
                    <input type="number" class="form-control" name="preco">
                    <br>
                    <label>Preço com Desconto</label>
                    <input type="number" class="form-control" name="precoDesconto">
                    <br>
                    <button type="submit" class="btn btn-success">Cadastrar Produto!</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src=".././api/js/bootstrap.min.js"></script>
</html>